.form {
  text-align: center;
  margin-left: 20px;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  color: rgb(245, 251, 252);
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}